click==7.1.2
filelock==3.0.12
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.20.1
Pillow>=8.3.0
python-dotenv==0.15.0
regex==2020.11.13
Unidecode==1.2.0
Werkzeug==1.0.1
fastspellchecker==0.0.4
pytest==6.2.2
